/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-primary {
  background-color: rgb(206, 223, 223);
}

.bg-light {
  background-color: rgb(224, 233, 233);
}

/* Main Styling */
html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  /* em 쓰는 이유? */
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  /* top/bottom 10px, right/left 0 */
  margin: 10px 0;
}

/* Navbar */
#navbar {
  background-color: #8dcfbd;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar .logo {
  padding: 20px;
  float: left;
}

#navbar .logo a:hover {
  color: #334c45;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  padding: 20px;
  display: block;
}

#navbar ul li a:hover {
  color: #334c45;
  background-color: #a8dacc;
}

#showcase {
  background: url('../img/showcase.jpg') no-repeat center center/cover;
  height: 600px;
}

#showcase .showcase-content {
  color: #444;
  padding-top: 170px;
  font-weight: 500;
  margin: 0 10px;
}

#showcase a {
  margin-top: 20px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2rem;
}

.btn {
  height: 40px;
  width: 200px;
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background-color: #8dcfbd;
  padding-top: 13px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  background: #a8dacc;
  color: #334c45;
}

/* Home Info */
#home-info {
  height: 450px;
  background-color: #f4f4f4;
  margin: auto;
}

#home-info .info-img {
  float: left;
  background: url('../img/store-img.jpg') no-repeat center center/cover;
  min-height: 100%;
  width: 50%;
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden; /*스크롤 생기는거 막기*/
}

#home-info .info-content p {
  padding-bottom: 30px;
}

/* Feature */
.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}

.box .fa-cookie-bite {
  color: #000;
}

.box .fa-leaf {
  color: #000;
}

.box .fa-candy-cane {
  color:#000;
}

#main-footer {
  padding: 30px;
  text-align: center;
  background-color: #f4f4f4;
}

.clr {
  clear: both;
}
